<div>
    <h2><span jhiTranslate="trumptweetApp.user_payment.home.title">User Payments</span>
        <button class="btn btn-primary float-xs-right create-user-payment" [routerLink]="['/', { outlets: { popup: ['user-payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trumptweetApp.user_payment.home.createLabel">
            Create new User Payment
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="user_payments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="token"><span jhiTranslate="trumptweetApp.user_payment.token">Token</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="trumptweetApp.user_payment.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="method"><span jhiTranslate="trumptweetApp.user_payment.method">Method</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="trumptweetApp.user_payment.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user_payment of user_payments ;trackBy: trackId">
                <td><a [routerLink]="['../user-payment', user_payment.id ]">{{user_payment.id}}</a></td>
                <td>{{user_payment.token}}</td>
                <td>{{user_payment.name}}</td>
                <td>{{user_payment.method}}</td>
                <td>
                    {{user_payment.user?.login}}
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-payment', user_payment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-payment/'+ user_payment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-payment/'+ user_payment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="user_payments && user_payments.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
