

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myDonation_logLabel" jhiTranslate="trumptweetApp.donation_log.home.createOrEditLabel">Create or edit a Donation Log</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!donation_log.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="donation_log.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trumptweetApp.donation_log.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="donation_log.amount"
            required min="1" />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trumptweetApp.donation_log.processed" for="field_processed">Processed</label>
            <input type="checkbox" class="form-control" name="processed" id="field_processed"
                [(ngModel)]="donation_log.processed"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="trumptweetApp.donation_log.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="donation_log.user"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === donation_log.user?.id ? donation_log.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="trumptweetApp.donation_log.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="donation_log.category"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id === donation_log.category?.id ? donation_log.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!category?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
