
<div *ngIf="tweet_log">
    <h2><span jhiTranslate="trumptweetApp.tweet_log.detail.title">Tweet Log</span> {{tweet_log.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="trumptweetApp.tweet_log.tweet">Tweet</span></dt>
        <dd>
            <span>{{tweet_log.tweet}}</span>
        </dd>
        <dt><span jhiTranslate="trumptweetApp.tweet_log.tweet_date">Tweet Date</span></dt>
        <dd>
            <span>{{tweet_log.tweet_date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trumptweetApp.tweet_log.handle">Handle</span></dt>
        <dd>
            <span>{{tweet_log.handle}}</span>
        </dd>
        <dt><span jhiTranslate="trumptweetApp.tweet_log.processed">Processed</span></dt>
        <dd>
            <span>{{tweet_log.processed}}</span>
        </dd>
        <dt><span jhiTranslate="trumptweetApp.tweet_log.categorize_time">Categorize Time</span></dt>
        <dd>
            <span>{{tweet_log.categorize_time | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tweet-log/'+ tweet_log.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
