
<div *ngIf="charity">
    <h2><span jhiTranslate="trumptweetApp.charity.detail.title">Charity</span> {{charity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="trumptweetApp.charity.name">Name</span></dt>
        <dd>
            <span>{{charity.name}}</span>
        </dd>
        <dt><span jhiTranslate="trumptweetApp.charity.website">Website</span></dt>
        <dd>
            <span>{{charity.website}}</span>
        </dd>
        <dt><span jhiTranslate="trumptweetApp.charity.ein">Ein</span></dt>
        <dd>
            <span>{{charity.ein}}</span>
        </dd>
        <dt><span jhiTranslate="trumptweetApp.charity.category">Category</span></dt>
        <dd>
            <div *ngIf="charity.category">
                <a [routerLink]="['category', charity.category?.id]">{{charity.category?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'charity/'+ charity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
