<div class="row">
  <h1 class="display-4">Resist¢ents</h1>
  <p class="lead" jhiTranslate="home.subtitle">Put your money where his mouth is.</p>
    <div class="col-lg-6 user-info">


        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <span class="user-name" *ngIf="account"> {{account.firstName}} {{account.lastName}}</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
            <div *ngSwitchCase="true">
              <span>Total Donated:</span>
              <br />
              <span class="totalDonation" *ngIf="totalDonation">{{totalDonation | currency:'USD':true:'1.2-2'}}</span>
            </div>
        <div *ngSwitchCase="true">

          <span class="editDonation"><a routerLink="donation-settings">Edit</a></span>
          <span>Per Tweet:</span>
          <br />
          <span class="perTweetAmount" *ngIf="account">{{account.tweetLimit | currency:'USD':true:'1.2-2'}}</span>


        </div>

        <div *ngSwitchCase="true">
          <span>Balances:</span>
          <ul class="user-balances">
            <li *ngFor="let ub of user_balances">
              {{ub.category.name}} : {{ub.balance | currency:'USD':true:'1.2-2'}}
              <br />
              <span *ngIf="account">
              <ngb-progressbar type="{{ub.category.name}}" value="{{ub.balance}}" max="{{account.transferThreshold}}"></ngb-progressbar>
            </span>
            </li>
          </ul>

        </div>
        <div *ngSwitchCase="true">
        Monthly Progress for <span *ngIf="today">{{today | date:'MMMM'}}</span>:
        <br />
        <span *ngIf="monthlyProgress">
          <span *ngIf="account">
            {{monthlyProgress | currency:'USD':true:'1.2-2'}} out of {{account.monthlyLimit | currency:'USD':true:'1.2-2'}}
            <ngb-progressbar type="Monthly" value="{{monthlyProgress}}" max="{{account.monthlyLimit}}"></ngb-progressbar>
          </span>
        </span>
      </div>
        <div *ngSwitchCase="true">
          <div *ngIf="pending_payments?.length > 0">
            <span>Pending Transactions:</span>
            <ul class="pending-transactions">
              <li *ngFor="let pp of pending_payments">
                {{pp.amount | currency:'USD':true:'1.2-2'}} : {{pp.category.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 recent-tweets">
      <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true">
          <div class="table-responsive" *ngIf="tweetlogs">
              <table class="table tweetTable table-curved">

                  <tbody>
                  <tr class="{{tweetlog.categories[0].name}}" *ngFor="let tweetlog of tweetlogs ;trackBy: trackId">
                      <td class="tweetCell"><span class="handle">@{{tweetlog.handle}}</span> {{tweetlog.tweet}} <span class="tweetDate">{{tweetlog.tweet_date | date:'short'}}</span></td>

                      <td class="categoryCell">
                        <ul class="categoryTweetList">
                        <li *ngFor="let category of tweetlog.categories">{{category.name}}</li>
                      </ul>

                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <div class="text-xs-center recent-tweets" *ngIf="tweetlogs">
              <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
              <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
          </div>
        </div>
      </div>

        <p>
            Everyone can see this.
        </p>
    </div>
</div>
