/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.user-balances {
  list-style: none;
  padding-left: 0;
}

.page {
  background-color:black;
}

.tweetListRow {
      border: 1px solid #d3d3d3;
      border-radius: 3px;
      padding: 20px;
      min-height: 96px;
      margin: 15px 0;
      background: rgb(249, 249, 249);

}

.categoryTweetListItem {
  margin-left: -39px;
}

.tweetTableList {
  list-style: none;
}

.categoryTweetListRow {
  list-style: none;
}


.user-info {
  width: 20%;
}

.pending-transactions {
  list-style: decimal;
}

.handle {
  font-weight: bold;
}



.user-name {
  font-weight: lighter;
  font-size: x-large;
}

.editDonation {
padding: 5px;
font-size: 70%;
}

.totalDonation {
  font-weight: lighter;
  font-size: xx-large;
}

.perTweetAmount {
  font-weight: lighter;
  font-size: x-large;
}

.tweetCell {

}
.handleEnvironment {
  color: #7cbd7c;
}

.handleHealthcare {
  color: #ff9393;
}

.Health {
  color: #ffdab9;
}

.handleCivil {
  color: #bec756;
}

.handleImmigration {
  color: #adddec;
}

.tweetDate{
  font-size: x-small;

}
.categoryTweetList{
  list-style-type: none;
}

.categoryCell {
  vertical-align: middle;
  white-space: nowrap;
}

.tweetTable .td, .tweetTable .th{
  border-top: none;
  border-bottom: none;
}

.table-curved {


   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;

}
.table-curved td, .table-curved th {
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}
