<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Configure Donation Settings</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Donation settings saved!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Donation settings failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="col-md-4 offset-md-2">
            <form name="form" role="form" (ngSubmit)="save()" #donationSettings="ngForm" *ngIf="user">
              <div class="form-group">
                  <label>Monthly Limit</label>
                  <input currencyMask type="text" class="form-control" name="monthlyLimit" #monthlyLimitInput="ngModel"
                         [(ngModel)]="user.monthlyLimit">

                  <div *ngIf="monthlyLimitInput.dirty && monthlyLimitInput.invalid">
                      <small class="form-text text-danger"
                         *ngIf="monthlyLimitInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                         translate-value-max="10">
                          This field cannot be longer than 10 characters.
                      </small>
                  </div>
              </div>
              <div class="form-group">
                  <label>Tweet Limit</label>
                  <input currencyMask type="text" class="form-control" name="tweetLimit" #tweetLimitInput="ngModel"
                         [(ngModel)]="user.tweetLimit">

                  <div *ngIf="tweetLimitInput.dirty && tweetLimitInput.invalid">
                      <small class="form-text text-danger"
                         *ngIf="tweetLimitInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                         translate-value-max="10">
                          This field cannot be longer than 10 characters.
                      </small>
                  </div>
              </div>
              <div class="form-group">
                  <label>Transfer Threshold</label>
                  <input currencyMask type="text" class="form-control" name="transferThreshold" #transferThresholdInput="ngModel"
                         [(ngModel)]="user.transferThreshold">

                  <div *ngIf="transferThresholdInput.dirty && transferThresholdInput.invalid">
                      <small class="form-text text-danger"
                         *ngIf="transferThresholdInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                         translate-value-max="10">
                          This field cannot be longer than 10 characters.
                      </small>
                  </div>
              </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <p></p>

        </div>

    </div>
</div>
